<section>
    <footer class="footer has-background-dark has-text-white-ter">
        <div class="content has-text-centered">

            <div class="columns is-centered">
                <!-- Contact Info -->
                <div class="column is-narrow">
                    <a href="tel:+1234567890" style="color: white; text-decoration: none;">
                        <p><img class="footer_icon" src="/static/image/call_icon.svg"> Contact: (123) 456-7890</p>
                    </a>
                </div>

                <!-- Email Info -->
                <div class="column is-narrow">
                    <a href="mailto:pcyd900@gmail.com" style="color: white; text-decoration: none;">
                        <p><img class="footer_icon" src="/static/image/email_icon.svg"> Email: pcyd900@gmail.com</p>
                    </a>
                </div>
                <!-- Facebook Profile -->
                <div class="column is-narrow">
                    <p><a href="https://facebook.com/yourprofile" target="_blank" class="has-text-white">
                        <img class="footer_icon" src="/static/image/profile_icon.svg"> Facebook
                    </a></p>
                </div>
            </div>

            <div class="columns is-centered">
                <!-- Back to Top -->
                <div class="column is-narrow">
                    <a href="#top" class="button is-light">
                        <i class="fas fa-arrow-up"></i> Back to Top
                    </a>
                </div>
            </div>

            <!-- New Copyright Text -->
            <div class="has-text-centered" style="margin-top: 40px; font-size: 0.8rem;">
                <p>&copy; 2025 e-Doctor Online Consultation. All rights reserved.</p>
            </div>
        </div>
    </footer>
</section>



    <!-- External JavaScript File -->
    <script src="/static/javascript/appointment.js"></script>
    <script src="/static/javascript/menu.js"></script>